<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="start">
        <!-- <h1 v-if="condition1">1</h1>
        <h1 v-else-if="condition2">2</h1>
        <h1 v-else>3</h1> -->

        <div class="tab_select">
            <input type="radio" value="1" v-model="tabPick">
            <label for="">1</label>
            <input type="radio" value="2" v-model="tabPick">
            <label for="">2</label>
        </div>

        <div class="condition">
            <div v-if="tabPick == '1'">
                <h1>1번 탭을 클릭했습니다.</h1>
            </div>
            <div v-else-if="tabPick == '2'">
                <h1>2번 탭을 클릭했습니다.</h1>
            </div>
            <div v-else>
                <h1>알 수 없는 탭을 클릭했습니다.</h1>
            </div>
        </div>

        <!-- v-show는 초기에 랜더링 후 T/F값에 따라 display style을 토글하지만, v-if는 조건이 맞을 때 랜더링하므로, -->
        <!-- 조건이 자주 바뀌는 프로그램은 v-show를, 그렇지 않은 프로그램은 v-if를 사용하는 것이 좋습니다. -->
        <div class="show">
            <input type="text" v-model:value="value">
            <div v-show="isAnswer">안녕하세요!</div>
        </div>
    </div>

    <script>
        let app = new Vue({
            el: "#start",
            data() {
                return {
                    // condition1: false,
                    // condition2: false
                    tabPick: '',
                    value: '',
                    isAnswer: false
                }
            },
            watch: {
                value: function(v){
                    this.isAnswer = true;
                }
            }
        })
    </script>

</body>
</html>